<!DOCTYPE html>
<html>
<head>
    <style>
        :root {
            --bar-h: 8mm;
            --bar-color: #145833;
            --green-dark: rgba(17, 163, 65, 1);
            --green-main: #4fa25a;
            --green-light: #eaf3ed;
            --text-dark: rgba(29, 97, 59, 1);
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        @page {
            size: A4 landscape;
            margin: 0;
        }

        html, body {
            width: 100%;
            height: 100%;
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
            font-family: 'DejaVu Sans', sans-serif;
            color: #000;
            overflow: hidden;
            font-size: 12px;
        }

        :root {
            --bar-h: 8mm;
            --bar-color: #145833;
        }

        .top-bar, .bottom-bar {
            position: fixed;
            left: -5px;
            width: calc(100% + 10px);
            height: var(--bar-h);
            background: var(--bar-color);
            z-index: 10;
        }

        .top-bar {
            top: 0;
        }

        .bottom-bar {
            bottom: -1px;
        }

        .bg-layer {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
            background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
            url({{{background}}}) center / cover no-repeat;
        }

        .numerlogyChart {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
        }

        .shema {
            display: flex;
            justify-content: center;
            gap: 15px;
            padding: 20px;
            color: #fff;
            position: relative;
            width: 400px;
            height: 400px;
        }

        .shema img {
            width: 400px;
            height: 400px;
        }

        .shema .circle {
            position: absolute;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .shema .number {
            width: calc(8.4px * var(--scale));
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: calc(6px * var(--scale));
        }

        .circle {
            --scale: 1;
        }

        .circle.small {
            height: calc(16px * var(--scale));
            width: calc(10.4px * var(--scale));
            font-size: calc(8.8px * var(--scale));
            padding-bottom: calc(1.6px * var(--scale));
            font-weight: bold;
        }

        .circle.medium {
            height: calc(20px * var(--scale));
            width: calc(14.16px * var(--scale));
            font-size: calc(12px * var(--scale));
            font-weight: bold;
        }

        .circle.mediumPlus {
            height: calc(23.2px * var(--scale));
            font-size: calc(12.8px * var(--scale));
        }

        .circle.large {
            width: calc(18.88px * var(--scale));
            font-size: calc(16px * var(--scale));
            color: #fff;
            font-weight: 700;
        }

        .top1 {
            top: 10.8%;
            left: 47.2%;
        }

        .top2 {
            top: 19.2%;
            left: 47.9%;
        }

        .top3 {
            top: 31.8%;
            left: 48.6%;
        }

        .top4 {
            top: 41%;
            left: 48.7%;
        }

        .topRight1 {
            top: 22.9%;
            right: 18.7%;
        }

        .topRight2 {
            top: 28.7%;
            right: 25.2%;
        }

        .topRight3 {
            top: 39%;
            right: 34.4%;
        }

        .right1 {
            top: 52.5%;
            right: 6.5%;
        }

        .right2 {
            top: 52.2%;
            right: 15.2%;
        }

        .right3 {
            top: 53%;
            right: 28.3%;
        }

        .right4 {
            top: 52.9%;
            right: 35.3%;
        }

        .right5 {
            top: 52.9%;
            right: 39.7%;
        }

        .bottomRight1 {
            top: 81.5%;
            right: 18.7%;
        }

        .bottomRight2 {
            top: 75.7%;
            right: 25%;
        }

        .bottomRight3 {
            top: 67.4%;
            right: 34.7%;
        }

        .bottomRight4 {
            top: 59.9%;
            right: 42.3%;
        }

        .bottomRight5 {
            top: 68%;
            right: 43%;
        }

        .bottomRight6 {
            top: 59%;
            right: 34.1%;
        }

        .bottom1 {
            top: 93.8%;
            right: 48.2%;
        }

        .bottom2 {
            top: 85.5%;
            right: 48.5%;
        }

        .bottom3 {
            top: 73.4%;
            right: 48.9%;
        }

        .bottomLeft1 {
            top: 82%;
            left: 18.3%;
        }

        .bottomLeft2 {
            top: 75.6%;
            left: 24.3%;
        }

        .bottomLeft3 {
            top: 67.5%;
            left: 34.5%;
        }

        .left1 {
            top: 52.3%;
            left: 5.7%;
        }

        .left2 {
            top: 52.4%;
            left: 14.8%;
        }

        .left3 {
            top: 53%;
            left: 27.8%;
        }

        .left4 {
            top: 53%;
            left: 38%;
        }

        .topLeft1 {
            top: 23%;
            left: 18%;
        }

        .topLeft2 {
            top: 28.9%;
            left: 24.4%;
        }

        .topLeft3 {
            top: 39%;
            left: 33.7%;
        }

        .center {
            top: 52.3%;
            left: 47.4%;
        }

        .year21 {
            top: 14.3%;
            right: 44%;
        }

        .year22 {
            top: 15.4%;
            right: 41%;
        }

        .year23 {
            top: 16.7%;
            right: 37.7%;
        }

        .year24 {
            top: 18%;
            right: 34.4%;
        }

        .year25 {
            top: 19.4%;
            right: 31.4%;
        }

        .year26 {
            top: 20.8%;
            right: 28%;
        }

        .year27 {
            top: 21.9%;
            right: 24.8%;
        }

        .year31 {
            top: 29.3%;
            right: 17.4%;
        }

        .year32 {
            top: 32.4%;
            right: 16.3%;
        }

        .year33 {
            top: 35.6%;
            right: 14.8%;
        }

        .year34 {
            top: 39%;
            right: 13.4%;
        }

        .year35 {
            top: 42.2%;
            right: 12.3%;
        }

        .year36 {
            top: 45.5%;
            right: 10.9%;
        }

        .year37 {
            top: 48.6%;
            right: 9.5%;
        }

        .year41 {
            top: 58.5%;
            right: 9.5%;
        }

        .year42 {
            top: 61.7%;
            right: 10.7%;
        }

        .year43 {
            top: 65%;
            right: 11.8%;
        }

        .year44 {
            top: 68.1%;
            right: 13.3%;
        }

        .year45 {
            top: 71.5%;
            right: 14.6%;
        }

        .year46 {
            top: 74.6%;
            right: 15.9%;
        }

        .year47 {
            top: 78%;
            right: 17.3%;
        }

        .year51 {
            top: 85.3%;
            right: 24.6%;
        }

        .year52 {
            top: 86.9%;
            right: 27.9%;
        }

        .year53 {
            top: 88%;
            right: 31%;
        }

        .year54 {
            top: 89.4%;
            right: 34.3%;
        }

        .year55 {
            top: 90.6%;
            right: 37.7%;
        }

        .year56 {
            top: 91.9%;
            right: 40.9%;
        }

        .year57 {
            top: 93.4%;
            right: 44.3%;
        }

        .year61 {
            top: 93.4%;
            left: 43.5%;
        }

        .year62 {
            top: 91.9%;
            left: 40.2%;
        }

        .year63 {
            top: 90.6%;
            left: 36.9%;
        }

        .year64 {
            top: 89.4%;
            left: 33.7%;
        }

        .year65 {
            top: 88%;
            left: 30.7%;
        }

        .year66 {
            top: 86.9%;
            left: 27.2%;
        }

        .year67 {
            top: 85.3%;
            left: 23.9%;
        }

        .year71 {
            top: 78%;
            left: 16.5%;
        }

        .year72 {
            top: 74.6%;
            left: 15.3%;
        }

        .year73 {
            top: 71.5%;
            left: 13.9%;
        }

        .year74 {
            top: 68.1%;
            left: 12.6%;
        }

        .year75 {
            top: 65%;
            left: 11.4%;
        }

        .year76 {
            top: 61.7%;
            left: 9.9%;
        }

        .year77 {
            top: 58.5%;
            left: 8.7%;
        }

        .year1 {
            top: 48.6%;
            left: 8.9%;
        }

        .year2 {
            top: 45.5%;
            left: 9.9%;
        }

        .year3 {
            top: 42.2%;
            left: 11.2%;
        }

        .year4 {
            top: 39%;
            left: 12.7%;
        }

        .year5 {
            top: 35.6%;
            left: 13.9%;
        }

        .year6 {
            top: 32.4%;
            left: 15.4%;
        }

        .year7 {
            top: 29.3%;
            left: 16.7%;
        }

        .year11 {
            top: 21.9%;
            left: 24%;
        }

        .year12 {
            top: 20.8%;
            left: 27.1%;
        }

        .year13 {
            top: 19.4%;
            left: 30.4%;
        }

        .year14 {
            top: 18%;
            left: 33.6%;
        }

        .year15 {
            top: 16.7%;
            left: 37%;
        }

        .year16 {
            top: 15.4%;
            left: 40.2%;
        }

        .year17 {
            top: 14.3%;
            left: 43.5%;
        }

        .calculator {
            background: #fff;
            width: 313px;
            border-radius: 24px;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }

        .calculator__header {
            background: linear-gradient(270deg, #145833 0%, #207146 100%);
            color: #ffffff;
            text-align: center;
            padding: 17px 5px;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 0.05em;
            line-height: 100%;
        }

        .calculator__table {
            width: 100%;
            padding: 20px;
            border-spacing: 0;
            border-collapse: collapse;
            background-color: transparent;
            position: relative;
        }

        .calculator__table thead th {
            color: rgba(29, 97, 59, 1);
            padding: 16px 0;
            text-align: center;
            font-weight: 700;
            font-size: 10px;
            line-height: 100%;
            vertical-align: middle;
        }

        .calculator__table th,
        .calculator__table td,
        .calculator__table thead,
        .calculator__table tbody,
        .calculator__table tfoot,
        .calculator__table tr {
            /*background-color: #fff;*/
            background-color: transparent !important;

        }

        .calculator__table thead th:first-child {
            text-align: center;
            padding-left: 7px;
        }

        .calculator__table tbody td,
        .calculator__table tfoot td {
            text-align: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            vertical-align: middle;
            color: rgba(18, 159, 64, 1);
        }

        .calculator__table tbody td.chakra {
            text-align: left;
            font-size: 16px;
            font-weight: 500;
            color: var(--text-dark);
        }

        .chakra-cell {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 5px;
            gap: 2px;
        }

        .chakra-cell img {
            width: 27px;
            height: 27px;
            object-fit: contain;
            flex-shrink: 0;
        }

        .chakra-cell span {
            color: var(--text-dark);
            font-weight: 500;
            font-size: 10px;
            line-height: 100%;
            text-align: center;
            vertical-align: middle;
        }


        .calculator__table tfoot td {
            font-size: 18px;
            font-weight: 700;
        }

        .calculator__table tfoot td.total {
            color: var(--green-dark);
            padding: 16px 0;
        }

        .calculator__table tfoot td:first-child {
            text-align: center;
            padding-left: 10px;
            color: rgba(29, 97, 59, 1);
        }

        .chakra_number {
            border-bottom: 1px solid rgba(29, 97, 59, 1);
        }


        .aspect-card {
            border-radius: 20px;
            width: 263px;
            box-shadow: 0px 0px 4px 0px #00000040;
        }

        .aspect-card__firstHeader {
            font-weight: 700;
            font-size: 17px;
            line-height: 100%;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            background: linear-gradient(270deg, #145833 0%, #207045 100%);
            color: rgba(255, 255, 255, 1);
            padding: 17px;
            width: 100%;
        }

        .aspect-card__firstBody {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            justify-content: center;
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            text-align: center;
            vertical-align: middle;
            padding: 10px;
            background: rgba(249, 249, 247, 1);
            color: rgba(29, 97, 59, 1);
        }

        .aspect-card__triad {
            position: relative;
        }

        .aspect-card__triad img {
            width: 237px;
        }

        .aspect-card__number {
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            text-align: center;
            vertical-align: middle;
            color: rgba(249, 249, 247, 1);
            width: 28.3px;
        }

        .aspect-card .r,
        .aspect-card .t {
            position: absolute;
            top: 30px;
            left: 8px;
        }

        .aspect-card .s,
        .aspect-card .u {
            position: absolute;
            top: 10px;
            left: 105px;
        }

        .aspect-card .y,
        .aspect-card .v {
            position: absolute;
            top: 30px;
            right: 8px;
        }

        .aspect-card__firstBody p {
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            color: rgba(29, 97, 59, 1);
        }

        .aspect-card__secondHeader {
            padding: 13px;
            width: 100%;
            font-weight: 600;
            font-size: 15px;
            line-height: 100%;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            background: linear-gradient(270deg, #145833 0%, #207045 100%);
            color: rgba(255, 255, 255, 1);
        }

        .aspect-card__secondBody {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            justify-content: center;
            position: relative;
            padding: 10px 10px 30px 10px;
            width: 100%;
            background: rgba(249, 249, 247, 1);
            color: rgba(29, 97, 59, 1);
            font-weight: 600;
            font-size: 12px;
            line-height: 100%;
            text-align: center;
            vertical-align: middle;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        .aspect-card__secondBody p {
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            color: rgba(29, 97, 59, 1);
        }

        .page-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100%;
            gap: 20px;
        }

        .data-container {
            display: flex;
            padding: 0 40px;
            gap: 20px;
            justify-content: space-between;
            align-items: center;
        }

        .firstSection__matrixForm {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
        }

        .firstSection__formItem {
            width: 108px;
            /*height: 65px;*/
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .firstSection__label {
            font-weight: 700;
            font-size: 18px;
            line-height: 100%;
            text-align: center;
            vertical-align: middle;
            color: rgba(29, 97, 59, 1);
        }

        .pill_container {
            width: 80px;
            position: relative;
        }
        .pill {
            width: 100%;
        }
        .pill_value {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #422722;
            font-size: 16px;
            font-weight: 700;
        }
    </style>

</head>
<body>
<div class="bg-layer"></div>

<div class="top-bar"></div>
<div class="bottom-bar"></div>

<div class="page-container">
    <div class="data-container">
        <div class="aspect-card">
            <div class="aspect-card__firstHeader">{{translations.aside.title1}}</div>
            <div class="aspect-card__firstBody">
                {{translations.aside.description1}}
                <div class="aspect-card__triad">
                    <img src="{{triad}}" alt=""/>
                    <span class="aspect-card__number r">{{numbers.r}}</span>
                    <span class="aspect-card__number s">{{numbers.s}}</span>
                    <span class="aspect-card__number y">{{numbers.y}}</span>
                </div>
                <p>{{translations.aside.result1}}: {{numbers.w}}</p>
            </div>
            <div class="aspect-card__secondHeader">{{translations.aside.title2}}</div>
            <div class="aspect-card__secondBody">
                {{translations.aside.description2}}
                <div class="aspect-card__triad">
                    <img src="{{triad}}" alt=""/>
                    <span class="aspect-card__number t">{{numbers.t}}</span>
                    <span class="aspect-card__number u">{{numbers.u}}</span>
                    <span class="aspect-card__number v">{{numbers.v}}</span>
                </div>
                <p>{{translations.aside.result2}}: {{numbers.x}}</p>
            </div>
        </div>

        <div class="numerlogyChart">
            <div class="shema">
                <img
                        src="{{image}}"
                        alt="Numerology Chart"
                        class="matrixImg"
                />
                <div class="top1 circle large outlined">{{numbers.b}}</div>
                <div class="top2 circle medium outlined">{{numbers.b1}}</div>
                <div class="top3 circle small outlined">{{numbers.b2}}</div>
                <div class="top4 circle small outlined">{{numbers.m}}</div>

                <div class="topRight1 circle large outlined">{{numbers.g}}</div>
                <div class="topRight2 circle medium outlined">{{numbers.g1}}</div>
                <div class="topRight3 circle small outlined">{{numbers.g2}}</div>

                <div class="right1 circle large outlined">{{numbers.c}}</div>
                <div class="right2 circle medium outlined">{{numbers.c1}}</div>
                <div class="right3 circle small outlined">{{numbers.c2}}</div>
                <div class="right4 circle small outlined">{{numbers.e2}}</div>
                <div class="right5 circle small outlined">{{numbers.e1}}</div>

                <div class="center circle large outlined"> {{numbers.e}}</div>

                <div class="bottomRight1 circle large outlined">{{numbers.h}}</div>
                <div class="bottomRight2 circle medium outlined">{{numbers.h1}}</div>
                <div class="bottomRight3 circle small outlined">{{numbers.h2}}</div>
                <div class="bottomRight4 circle small outlined">{{numbers.j}}</div>
                <div class="bottomRight5 circle small outlined">{{numbers.k}}</div>
                <div class="bottomRight6 circle small outlined">{{numbers.l}}</div>

                <div class="bottom1 circle large outlined">{{numbers.d}}</div>
                <div class="bottom2 circle medium outlined">{{numbers.d1}}</div>
                <div class="bottom3 circle small outlined">{{numbers.d2}}</div>

                <div class="bottomLeft1 circle large outlined">{{numbers.i}}</div>
                <div class="bottomLeft2 circle medium outlined">{{numbers.i1}}</div>
                <div class="bottomLeft3 circle small outlined">{{numbers.i2}}</div>

                <div class="left1 circle large outlined">{{numbers.a}}</div>
                <div class="left2 circle medium outlined">{{numbers.a1}}</div>
                <div class="left3 circle small outlined">{{numbers.a2}}</div>
                <div class="left4 circle small  outlined ">{{numbers.n}}</div>

                <div class="topLeft1 circle large outlined">{{numbers.f}}</div>
                <div class="topLeft2 circle medium outlined">{{numbers.f1}}</div>
                <div class="topLeft3 circle small outlined">{{numbers.a2}}</div>


                <div class="year21 number">{{numbers.b21_22}}</div>
                <div class="year22 number">{{numbers.b22_23}}</div>
                <div class="year23 number">{{numbers.b23_24}}</div>
                <div class="year24 number">{{numbers.b25}}</div>
                <div class="year25 number">{{numbers.b26_27}}</div>
                <div class="year26 number">{{numbers.b27_28}}</div>
                <div class="year27 number">{{numbers.b28_29}}</div>


                <div class="year31 number">{{numbers.g31_32}}</div>
                <div class="year32 number">{{numbers.g32_33}}</div>
                <div class="year33 number">{{numbers.g33_34}}</div>
                <div class="year34 number">{{numbers.g35}}</div>
                <div class="year35 number">{{numbers.g36_37}}</div>
                <div class="year36 number">{{numbers.g37_38}}</div>
                <div class="year37 number">{{numbers.g38_39}}</div>


                <div class="year41 number">{{numbers.c41_42}}</div>
                <div class="year42 number">{{numbers.c42_43}}</div>
                <div class="year43 number">{{numbers.c43_44}}</div>
                <div class="year44 number">{{numbers.c45}}</div>
                <div class="year45 number">{{numbers.c46_47}}</div>
                <div class="year46 number">{{numbers.c47_48}}</div>
                <div class="year47 number">{{numbers.c48_49}}</div>

                <div class="year51 number">{{numbers.h51_52}}</div>
                <div class="year52 number">{{numbers.h52_53}}</div>
                <div class="year53 number">{{numbers.h53_54}}</div>
                <div class="year54 number">{{numbers.h55}}</div>
                <div class="year55 number">{{numbers.h56_57}}</div>
                <div class="year56 number">{{numbers.h57_58}}</div>
                <div class="year57 number">{{numbers.h58_59}}</div>


                <div class="year61 number">{{numbers.d61_62}}</div>
                <div class="year62 number">{{numbers.d62_63}}</div>
                <div class="year63 number">{{numbers.d63_64}}</div>
                <div class="year64 number">{{numbers.d65}}</div>
                <div class="year65 number">{{numbers.d66_67}}</div>
                <div class="year66 number">{{numbers.d67_68}}</div>
                <div class="year67 number">{{numbers.d68_69}}</div>


                <div class="year71 number">{{numbers.i71_72}}</div>
                <div class="year72 number">{{numbers.i72_73}}</div>
                <div class="year73 number">{{numbers.i73_74}}</div>
                <div class="year74 number">{{numbers.i75}}</div>
                <div class="year75 number">{{numbers.i76_77}}</div>
                <div class="year76 number">{{numbers.i77_78}}</div>
                <div class="year77 number">{{numbers.i78_79}}</div>

                <div class="year1 number">{{numbers.a1_2}}</div>
                <div class="year2 number">{{numbers.a2_3}}</div>
                <div class="year3 number">{{numbers.a3_4}}</div>
                <div class="year4 number">{{numbers.a5}}</div>
                <div class="year5 number">{{numbers.a6_7}}</div>
                <div class="year6 number">{{numbers.a7_8}}</div>
                <div class="year7 number">{{numbers.a8_9}}</div>

                <div class="year11 number">{{numbers.f11_12}}</div>
                <div class="year12 number">{{numbers.f12_13}}</div>
                <div class="year13 number">{{numbers.f13_14}}</div>
                <div class="year14 number">{{numbers.f15}}</div>
                <div class="year15 number">{{numbers.f16_17}}</div>
                <div class="year16 number">{{numbers.f17_18}}</div>
                <div class="year17 number">{{numbers.f18_19}}</div>
            </div>
        </div>

        <div class="calculator">
            <div class="calculator__header">{{translations.calculator.title}}</div>

            <table class="calculator__table">
                <thead>
                <tr>
                    <th>{{translations.calculator.thead.chakra}}</th>
                    <th>{{translations.calculator.thead.physical}}</th>
                    <th>{{translations.calculator.thead.energy}}</th>
                    <th>{{translations.calculator.thead.mental}}</th>
                </tr>
                </thead>

                <tbody class="calculator__body">
                {{#each chakraRows}}
                    <tr>
                        <td class="chakra">
                            <div class="chakra-cell">
                                <img src="{{this.chakra.icon}}" alt="chakra {{@index}}" class="chakra-icon" width="27"
                                     height="27"/>
                                <span>{{this.chakra.name}}</span>
                            </div>
                        </td>
                        <td class="chakra_number">{{this.o}}</td>
                        <td class="chakra_number">{{this.p}}</td>
                        <td class="chakra_number">{{this.q}}</td>
                    </tr>
                {{/each}}
                </tbody>

                <tfoot>
                <tr class="totalRow">
                    <td class="total">{{translations.calculator.total}}</td>
                    <td class="total">{{numbers.o}}</td>
                    <td class="total">{{numbers.p}}</td>
                    <td class="total">{{numbers.q}}</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="firstSection__matrixForm">
        <div class="firstSection__formItem">
            <label for="day" class="firstSection__label">{{translations.day}}</label>
            <div class="pill_container">
                <img src="{{pill}}" class="pill" alt="">
                <span class="pill_value">
                    {{numbers.day}}
                </span>
            </div>
        </div>
        <div class="firstSection__formItem">
            <label for="month" class="firstSection__label">{{translations.month}}</label>
            <div class="pill_container">
                <img src="{{pill}}" class="pill" alt="">
                <span class="pill_value">
                    {{numbers.month}}
                </span>
            </div>
        </div>
        <div class="firstSection__formItem">
            <label for="year" class="firstSection__label">{{translations.year}}</label>
            <div class="pill_container">
                <img src="{{pill}}" class="pill" alt="">
                <span class="pill_value">
                    {{numbers.year}}
                </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
